h1 {
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
    border: 1px solid #000000;
}

h1:hover {
    overflow:scroll;
}

.text1 {
    writing-mode: horizontal-tb;
}

span.text2 {
    writing-mode: vertical-rl;
}

.text2 {
    writing-mode: vertical-rl;
}

p {
    background-color: aqua;
}